[submodule "middleware"]
	path = middleware
	url = https://github.com/hu-semesterprojekt-genombrowser/Alazen-Middleware.git
[submodule "integration"]
	path = integration
	url = https://github.com/hu-semesterprojekt-genombrowser/Alazen-Integration.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/hu-semesterprojekt-genombrowser/Alazen-GUI.git
